@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: Pt_sans;
  src: url(../../public/font.ttf);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Pt_sans;
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Ajoutez ceci dans votre fichier globals.css ou un module CSS */
.sidebar-collapsed {
  width: 5rem;
}

.sidebar-expanded {
  width: 16rem;
}

/* Pour les transitions fluides */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}